<mat-nav-list class="example-list">
    <li><a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active"><i class="fas fa-camera"></i>
    </a></li>
    <li><a mat-list-item [routerLink]="['/religion']" routerLinkActive="active"><i class="fa-solid fa-house"></i></a></li>
    <li><a mat-list-item [routerLink]="['/cast']" routerLinkActive="active"><i class="fa-regular fa-circle-user"></i></a></li>
    <li><a mat-list-item [routerLink]="['/relation']" routerLinkActive="active"><i class="fa-brands fa-font-awesome"></i></a></li>
    <li><a mat-list-item [routerLink]="['/kyc-documents']" routerLinkActive="active"><i class="fa-brands fa-flipboard"></i></a></li>
    <li><a mat-list-item [routerLink]="['/kyc-documents']" routerLinkActive="active">  <i class="fa-brands fa-wpforms"></i></a></li>

</mat-nav-list>
